<form action="/count">
  <div class="form-group">
     <label for="check_word"><h3>Please enter a special word:<h3></label>
     <input id="check_word" name="check_word" class="form-control" type="text" required>
  </div>
  <div class="form-group">
     <label for="string_to_check"><h3>Now enter a short story and we'll count how many times your special word appears:<h3></label>
     <input id="string_to_check" name="string_to_check" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn btn-success btn-large">Go!</button>
</form>
