<h1></h1>
<form action="/allergies">
  <div class="form-group">
     <label for="score">Enter your allergy score and we'll tell you what you're allergic to!</label>
     <input id="score" name="score" min="1" max="255" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Go</button>
</form>
