<!DOCTYPE html>
<html>
  <head>
    <title>Word Count Game</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      <div class="jumbotron">
          <h1>The Word Count Game!</h1>
      </div>
      <div class="container">
          <%= yield %>
      </div>
  </body>
</html>
