<!DOCTYPE html>
<html>
  <head>
    <title>Word Count Game</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="public/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to Word Count!</h1>
      </div>
      <%= yield %>
    <div>
  </body>
</html>
